.grid {
  width: 400px;
  height: 600px;
  background-image: url('background.png');
  position: relative;
  font-size: 100px;
  text-align: center;
}

.doodler {
  width: 140px;
  height: 199px;
  background-image: url('doodler-sergio.png');
  position: absolute;
}

.platform {
  width: 95px;
  height: 17px;
  background-image: url('platform.png');
  position: absolute;
}
